.menu {
    @include make-row();
    padding: 0;

    li {
        list-style: none;
    }
}


.login-form {

}
.swal2-content {
    text-align: left;
}

.btn-wrapper {
    margin-top:10px;

    &.upload {
        border-top: 1px solid #c5c5c5;
        padding: 10px;
        margin-right: -15px;
        margin-left: -15px;
    }
}

.modal-footer{

    &.text-center {
        display:block;
    }
}

main .row:first-child {
    margin-top:45px;
}

main #profile .row .card {
    width: 30rem; 
    margin-bottom: 45px;
}

.item.images {
    width: 350px;
    height: 350px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.feeds {
    margin: 61px 0;
}