.header-bg {
    background: #ffffff;
}
.header {
    @include make-row();

    .logo {
        @include make-lg-column(3);
    }

    .navigation {
        @include make-lg-column(2);
        @include make-lg-column-push(7);

        .menu {
            @include navbar-vertical-align(-60);

            li {
                @include make-lg-column(12);
            }
        }
        
    }

    .mainItem {
        margin-top:20px;
    }
}

